<ion-view view-title="修改临时小组名称">
  <ion-nav-buttons side="right">
    <a class="button  button-balanced" src="javascript:void(0)">保存</a>
  </ion-nav-buttons>
  
  <ion-content scroll="true" scrollbar-y="false" has-bouncing="true">
    <ion-list class="list">
      <div class="padding">
        <label class="item item-input">
          <textarea type="text" placeholder="请输入临时小组的名称" rows="5">李万年、郭涛、曾梵志、彭毅超、周前锋、李万年、郭涛、曾梵志、彭毅超、周前锋
          </textarea>
        </label>
      </div>

    </ion-list>
  </ion-content>
</ion-view>
<style>
  .tabs {
    display: none;
  }
  .has-tabs {
    bottom: 0;
  }
</style>