<ion-view view-title="家长组信息">
  <ion-nav-buttons side="right">
  <a class="button button-clear " href="#/tab/address-list-parent">家长通讯录</a>
  </ion-nav-buttons>

  <ion-content scroll="true" scrollbar-y="false" has-bouncing="true" style="background:white;" >
    <ion-list show-delete="data.showDelete" class="list">

      
       <!-- 班级开始 -->
      <div class="item item-divider gray small">
        老师（14人）
      </div>

      <ul class="padding pic-list-small six clearfix">
        <li><a href="#"><img src="img/userface1.jpg"><span class="name">马景涛的家长</span></a></li>
        <li><a href="#"><img src="img/userface1.jpg"><span class="name">郭涛同学</span></a></li>
        <li><a href="#"><img src="img/userface1.jpg"><span class="name">郭涛同学</span></a></li>
        <li><a href="#"><img src="img/userface1.jpg"><span class="name">郭涛同学</span></a></li>
        <li><a href="#"><img src="img/userface1.jpg"><span class="name">郭涛同学</span></a></li>
        <li><a href="#"><img src="img/userface1.jpg"><span class="name">郭涛同学</span></a></li>
        <li><a href="#"><img src="img/userface1.jpg"><span class="name">郭涛同学</span></a></li>
        <li><a href="#"><img src="img/userface1.jpg"><span class="name">郭涛同学</span></a></li>
      </ul>


      <div class="item item-divider gray small">
        家长（14人）
      </div>

      <ul class="padding pic-list-small six clearfix">
        <li><a href="#"><img src="img/userface1.jpg"><span class="name">郭涛同学</span></a></li>
        <li><a href="#"><img src="img/userface1.jpg"><span class="name">郭涛同学</span></a></li>
        <li><a href="#"><img src="img/userface1.jpg"><span class="name">郭涛同学</span></a></li>
        <li><a href="#"><img src="img/userface1.jpg"><span class="name">郭涛同学</span></a></li>
        <li><a href="#"><img src="img/userface1.jpg"><span class="name">郭涛同学</span></a></li>
        <li><a href="#"><img src="img/userface1.jpg"><span class="name">郭涛同学</span></a></li>
        <li><a href="#"><img src="img/userface1.jpg"><span class="name">郭涛同学</span></a></li>
        <li><a href="#"><img src="img/userface1.jpg"><span class="name">郭涛同学</span></a></li>
        <li><a href="#"><img src="img/userface1.jpg"><span class="name">郭涛同学</span></a></li>
      </ul>

      <div class="button-bar bar-calm padding" style="margin-top:20px;">
        <a class="button"><i class="icon-conversation"></i> 进入聊天</a>
        <a class="button"><i class="icon-home"></i> 班级空间</a>
        <a class="button"><i class="icon-direction"></i> 发作业</a>
      </div>

    </ion-list>
  </ion-content>
</ion-view>
<style>
  .tabs {
    display: none;
  }
  .has-tabs {
    bottom: 0;
  }
</style>