<ion-view view-title="临时组管理">
  <ion-nav-buttons side="right">
    
  </ion-nav-buttons>

  <ion-content scroll="true" scrollbar-y="false" has-bouncing="true" style="background:white;" >
    <ion-list show-delete="data.showDelete" class="list">

      
       <!-- 班级开始 -->
      <div class="item item-divider gray small">
        成员（4人）
      </div>

      <ul class="padding pic-list-small six clearfix">
        <li><a href="#"><img src="img/userface1.jpg"><span class="name">马景涛的家长</span></a></li>
        <li><a href="#"><img src="img/userface1.jpg"><span class="name">郭涛同学</span></a></li>
        <li><a href="#"><img src="img/userface1.jpg"><span class="name">郭涛同学</span></a></li>
        <li><a href="#"><img src="img/userface1.jpg"><span class="name">郭涛同学</span></a></li>
        <li><a href="#"><img src="img/userface1.jpg"><span class="name">郭涛同学</span></a></li>
      </ul>
      
      <a class="item item-input has-arrow" href="#/tab/address-list-group-info-rename">
          <span class="input-label">临时小组名称</span>
          <span>李万年、郭涛、曾梵志、彭毅超、周前锋</span>
          <i class="icon ion-arrow-right-c" ></i>
      </a>

      <div class="padding">
        <button class="button button-full button-assertive">
          删除并退出
        </button>
      </div>

    </ion-list>
  </ion-content>
</ion-view>
<style>
  .tabs {
    display: none;
  }
  .has-tabs {
    bottom: 0;
  }
</style>