<ion-view view-title="详细资料">
  <ion-nav-buttons side="right">
    <button class="button  button-balanced  button-icon icon-more"></button>
  </ion-nav-buttons>
 
  <ion-content scroll="true" scrollbar-y="false" has-bouncing="true">
    <ion-list class="list">

        <a class="item item-avatar" href="#">
          <img src="img/userface1.jpg" class="radius-small">
          <h2>邓小燕</h2>
          <p>教务处 老师</p>
        </a>
        <label class="item item-input">
          <span class="input-label">所属部门</span>
          <input type="text" value="教务处" disabled>
        </label>
        <label class="item item-input">
          <span class="input-label" >职位</span>
          <input type="text" value="老师" disabled>
        </label>
        <label class="item item-input">
          <span class="input-label" >任课班级</span>
          <input type="text" value="二（1）班，二（2）班" disabled>
        </label>
        <label class="item item-input">
          <span class="input-label" >任课科目</span>
          <input type="text" value="化学" disabled>
        </label>
        <a class="item item-input item-icon-right">
          <span class="input-label" >手机</span>
            <i class="icon ion-arrow-right-c ion-ios7-telephone-outline" style=" font-size:24px;"></i> 
            77778888010
        </a>
        
        <div class="item item-divider gray small">
          我的空间
        </div>
        <ul class="padding pic-list-small six clearfix">
          <li><img src="img/userface1.jpg"></li>
          <li><img src="img/userface1.jpg"></li>
          <li><img src="img/userface1.jpg"></li>
          <li><img src="img/userface1.jpg"></li>
        </ul>

        <div class="item item-divider gray small">
          我的晒课
        </div>
        <ul class="padding pic-list-small six clearfix">
          <li><img src="img/userface1.jpg"></li>
          <li><img src="img/userface1.jpg"></li>
          <li><img src="img/userface1.jpg"></li>
          <li><img src="img/userface1.jpg"></li>
        </ul>

        <div class="item item-divider gray small">
          子女
        </div>
        <a class="item item-avatar" href="#">
          <img src="img/userface1.jpg">
          <h2>阿狗</h2>
          <p class="gray">11001109</p>
          <span class="position-right top gray">狗爹</span>
          <span class="position-right bottom gray">二（1）班</span>
        </a>
        <a class="item item-avatar" href="#">
          <img src="img/userface1.jpg">
          <h2>阿狗</h2>
          <p class="gray">11001109</p>
          <span class="position-right top gray">狗爹</span>
          <span class="position-right bottom gray">二（1）班</span>
        </a>

        <div class="padding">
          <button class="button button-full button-calm">
            进入聊天
          </button>
          <button class="button button-full button-balanced">
            添加此联系人
          </button>
        </div>

    </ion-list>
  </ion-content>
</ion-view>
<style>
  .tabs {
    display: none;
  }
  .has-tabs {
    bottom: 0;
  }
</style>