<ion-view title="英语">
	<ion-content scroll="true" scrollbar-y="false" has-bouncing="true">
		
		  <div class="list">

		    <a class="item item-avatar" href="#">
		      <img src="img/userface1.jpg">
		      <h2>无名英雄</h2>
		      <p>未来已经到来，只是尚未流行。</p>
		    </a>
		    <a class="item item-avatar" href="#">
		       <img src="img/userface1.jpg">
		      <h2>Venkman</h2>
		      <p><video src="movie.ogg" controls="controls"></video></p>
		    </a>
		    <a class="item item-avatar" href="#">
		       <img src="img/userface1.jpg">
		      <h2>Venkman</h2>
		      <p>Back off, man. I'm a scientist.</p>
		    </a>
		    <a class="item item-avatar" href="#">
		       <img src="img/userface1.jpg">
		      <h2>Venkman</h2>
		      <p>Back off, man. I'm a scientist.</p>
		    </a>
		
		 </div>
			  


	
	</ion-content>
</ion-view>
<style>
	.tab-nav.tabs {display:none;}
	.has-tabs { bottom:0}
</style>
