<ion-view title="我是一个很帅的程序猿">
	<ion-content scroll="true" scrollbar-y="false" has-bouncing="true">
		<ul class="inline-block-ul btn-center writer-info">
			<li>日期：2014-10-10 12:12</li>
			<li>来源：彭校</li>
		</ul>
		<div class="writer-nr">
			<p>现在让我说一下我有多帅，好，开始。我说不出来，我太帅了。我叫郭涛，就是因为我太帅了，所以叫郭涛。为什么我这么帅，因为这是遗传，这是基因。我爸爸也很帅，我爷爷也很帅。。。。。我的第一只类人猿祖先就很帅，单细胞的时候就很帅。</p>
			<p>现在让我说一下我有多帅，好，开始。我说不出来，我太帅了。我叫郭涛，就是因为我太帅了，所以叫郭涛。为什么我这么帅，因为这是遗传，这是基因。我爸爸也很帅，我爷爷也很帅。。。。。我的第一只类人猿祖先就很帅，单细胞的时候就很帅。</p>
			<p>现在让我说一下我有多帅，好，开始。我说不出来，我太帅了。我叫郭涛，就是因为我太帅了，所以叫郭涛。为什么我这么帅，因为这是遗传，这是基因。我爸爸也很帅，我爷爷也很帅。。。。。我的第一只类人猿祖先就很帅，单细胞的时候就很帅。</p>
			<div><a href="javascript:void(0)"></a></div>
		</div>
		
		<div class="list">
			<div class="card">
			  <div class="item item-text-wrap">
			  		<div class="title" style="margin-bottom:10px;">
				    	<i class="icon ion-chatbox"></i>
						<span class="title">我要评价</span>
					</div>
					<label class="item item-input">
					    <textarea placeholder="请输入你的评价" rows="4"></textarea>
					  </label>
					  <button class="button button-full button-energized">
					  发 送
					</button>
			  </div>
			</div>
			
		  
		</div>

	</ion-content>
</ion-view>
