<ion-view title="云通知">
	<ion-content scroll="true" scrollbar-y="false" has-bouncing="true">
	
		<div class="list">
		
		  <a class="item item-icon-left item-icon-right" href="#/tab/ytz-list">
		    <i class="icon round-font-ico positive-bg">政</i>
		    政务要事通知
		    <span class="badge badge-assertive" style="margin-right:20px">1</span>
		    <i class="icon ion-chevron-right gray-color"></i>
		  </a>
		  
		  <a class="item item-icon-left item-icon-right" href="#/tab/ytz-list">
		    <i class="icon round-font-ico orange-bg">薪</i>
		    工资发放通知
		    <span class="badge badge-assertive" style="margin-right:20px">3</span>
		    <i class="icon ion-chevron-right gray-color"></i>
		  </a>
		  
		  <a class="item item-icon-left item-icon-right" href="#/tab/ytz-list">
		    <i class="icon round-font-ico green-bg">奖</i>
		    褒奖处分通知
		    <!--<span class="badge badge-assertive gray-bg" style="margin-right:20px">0</span>-->
		    <i class="icon ion-chevron-right gray-color"></i>
		  </a>
		  
		  <a class="item item-icon-left item-icon-right" href="#/tab/ytz-list">
		    <i class="icon round-font-ico calm-bg">其</i>
		    其他通知
		    <span class="badge badge-assertive" style="margin-right:20px">3</span>
		    <i class="icon ion-chevron-right gray-color"></i>
		  </a>
		
		</div>
		
	</ion-content>
</ion-view>
