<ion-view title="云通知">
	<ion-content scroll="true" scrollbar-y="false" has-bouncing="true">
	
		<div class="list ">

		  <!--<div class="item item-divider">
		    Candy Bars
		  </div>-->
		
		  <a class="item" href="#/tab/ytz-list-write">
		  	<span class="item-note">
		      2014-10-10
		    </span>
		    郭涛你怎么这么帅啊
		  </a>
		  
		  <a class="item" href="#/tab/ytz-list-write">
		  	<span class="item-note">
		      2014-10-10
		    </span>
		    郭涛你怎么这么帅啊
		  </a>
		  
		  <a class="item" href="#/tab/ytz-list-write">
		  	<span class="item-note">
		      2014-10-10
		    </span>
		    郭涛你怎么这么帅啊
		  </a>
		  
		  <a class="item" href="#">
		  	<span class="item-note">
		      2014-10-10
		    </span>
		    郭涛你怎么这么帅啊
		  </a>
		  
		  <a class="item" href="#">
		  	<span class="item-note">
		      2014-10-10
		    </span>
		    郭涛你怎么这么帅啊
		  </a>
		
		
		</div>
		
	</ion-content>
</ion-view>
