<ion-view view-title="通讯录">

</ion-nav-buttons>
  <ion-content class="padding" scroll="true" scrollbar-y="false" has-bouncing="true">
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="输入关键字搜索本地联系人" ng-model="query">
      </label>
    </div>
    <ion-list show-delete="data.showDelete" class="list">
       <!-- <div class="empty-area icon-2" ></div> -->
       <div class="item item-divider">
        Candy Bars
      </div>
      <ion-item class="item item-avatar" >
         <img ng-click="toDetail(contact)" src="img/userface1.jpg">
         <h2 ng-click="toDetail(contact)">狼国的王子</h2>
      </ion-item>
      <ion-item class="item item-avatar" >
         <img ng-click="toDetail(contact)" src="img/userface1.jpg">
         <h2 ng-click="toDetail(contact)">狼国的王子</h2>
      </ion-item>
      <ion-item class="item item-avatar" >
         <img ng-click="toDetail(contact)" src="img/userface1.jpg">
         <h2 ng-click="toDetail(contact)">狼国的王子</h2>
      </ion-item>
      <ion-item class="item item-avatar" >
         <img ng-click="toDetail(contact)" src="img/userface1.jpg">
         <h2 ng-click="toDetail(contact)">狼国的王子</h2>
      </ion-item>
      <ion-item class="item item-avatar" >
         <img ng-click="toDetail(contact)" src="img/userface1.jpg">
         <h2 ng-click="toDetail(contact)">狼国的王子</h2>
      </ion-item>
      <ion-item class="item item-avatar" >
         <img ng-click="toDetail(contact)" src="img/userface1.jpg">
         <h2 ng-click="toDetail(contact)">狼国的王子</h2>
      </ion-item>
      <ion-item class="item item-avatar" >
         <img ng-click="toDetail(contact)" src="img/userface1.jpg">
         <h2 ng-click="toDetail(contact)">狼国的王子</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>