<ion-view hide-nav-bar="true" style="padding-top:90px;">
	<ion-header-bar align-title="center" class="bar-stable bar-positive">
	  <div class="buttons">
	    <button class="button back-button buttons button-clear button-icon ion-arrow-left-c header-item " id="backbutton" ng-click="$ionicGoBack($event)" style="">
	    	<span class="back-text" style="-webkit-transform: translate3d(0px, 0, 0);"></span></button>
	  </div>
	  <h1 class="title">03:07</h1>
	  <div class="buttons">
	  <a class="button back-button buttons button-clear button-icon header-item " href="#/tab/exam-test-status"><i class=" icon-more"></i></a>
	  </div>
	</ion-header-bar>
	<div class="exam-status-bar clearfix">
		<div class="pull-left">数学的期中测试</div>
		<div class="pull-right num">1/3</div>
	</div>
	<ion-content >
	
	<!-- <div class="answer-status">
		<ul class="inline-block-ul question-status-bar">
			<li><a href="javascript:void(0)" class="button button-small button-calm">1</a></li>
			<li><a href="javascript:void(0)" class="button button-small button-calm">2</a></li>
			<li><a href="javascript:void(0)" class="button button-small button-light">3</a></li>
			<li><a href="javascript:void(0)" class="button button-small button-calm">4</a></li>
			<li><a href="javascript:void(0)" class="button button-small button-light">5</a></li>
			<li><a href="javascript:void(0)" class="button button-small button-light">6</a></li>
			<li><a href="javascript:void(0)" class="button button-small button-light">7</a></li>
			<li><a href="javascript:void(0)" class="button button-small button-light">8</a></li>
			<li><a href="javascript:void(0)" class="button button-small button-light">9</a></li>
			<li><a href="javascript:void(0)" class="button button-small button-light">10</a></li>
		</ul>
	</div> -->
	
	<div class="card" style="margin-top:55px; padding-bottom:50px;">
		<div class="question-single-box">
			<div class="question-area">
				<i class="num-ball">1</i>
				<div class="wb">美国历史学家费正清在《伟大的中国革命》——书中表达了这样的观点：“鸦片战争的发生意味着中国拒绝在外交平等和对等贸易的基础上参加国际大家庭，结果导致英国使用武力。”费正清的上述观点（）</div>
			</div>
			<ul class="answer-chose">
				<li class="active"><label><input type="radio" name="1"><span class="abcd-ball">A</span></label></li>
				<li><label><input type="radio" name="1"><span class="abcd-ball">B</span> </label></li>
				<li><label><input type="radio" name="1"><span class="abcd-ball">C</span> </label></li>
				<li><label><input type="radio" name="1"><span class="abcd-ball">D</span></label></li>
			</ul>
			<ul class="inline-block-ul button-do-ul" style="display:none;">
				<li><a href="javascript:void(0)" class="button button-calm"><i class="icon-lightbulb"></i> 查看解析</a></li>
				<li><a href="javascript:void(0)" class="button button-calm"><i class="icon-star"></i> 加入错题本</a></li>
			</ul>
			<div class="resolve-box" style="display:none;">
				<h4 class="right-answer">正确答案：A</h4>
				<p>美国历史学家费正清在《伟大的中国革命》——书中表达了这样的观点：“鸦片战争的发生意味着中国拒绝在外交平等和对等贸易的基础上参加国际大家庭，结果导致英国使用武力。”费正清的上述观点</p>
			</div>
		</div>
	</div>

</ion-content>
	<ul class="page-navigation clearfix">
		<li class="pull-left"><a href="javascript:void(0)"  ><i class="icon-chevron-left"></i></a></li>
		<li class="pull-right"><a href="javascript:void(0)" ><i class="icon-chevron-right"></i></a></li>
	</ul>
</ion-view>
<style>
	.tab-nav.tabs {display:none;}
	.has-tabs { bottom:0}
</style>
<script type="text/javascript">
	// $(".exam-single-box").click(function(){
		
	// });
</script>
