<ion-view hide-nav-bar="true" style="padding-top:90px; ">
	<ion-header-bar align-title="center" class="bar-stable bar-positive">

	  <h1 class="title">答题状态</h1>
	</ion-header-bar>

	<ion-content style="background:white;">
	
	<div class="answer-status">
		<ul class="question-status-bar">
			<li><a href="javascript:void(0)" class="button button-small button-calm">1</a></li>
			<li><a href="javascript:void(0)" class="button button-small button-calm">2</a></li>
			<li><a href="javascript:void(0)" class="button button-small button-light">3</a></li>
			<li><a href="javascript:void(0)" class="button button-small button-calm">4</a></li>
			<li><a href="javascript:void(0)" class="button button-small button-light">5</a></li>
			<li><a href="javascript:void(0)" class="button button-small button-light">6</a></li>
			<li><a href="javascript:void(0)" class="button button-small button-light">7</a></li>
			<li><a href="javascript:void(0)" class="button button-small button-light">8</a></li>
			<li><a href="javascript:void(0)" class="button button-small button-light">9</a></li>
			<li><a href="javascript:void(0)" class="button button-small button-light">10</a></li>
		</ul>
	</div>
	

</ion-content>
	<ul class="page-bottom-tj inline-block-ul">
		<li><span>未做：1题</span></li>
		<li><span>已做：14题</span></li>
	</ul>
	<ul class="page-bottom-buttom clearfix">
		<li class="pull-left"><a href="javascript:void(0)" class=" button button-calm"  >继续做题</a></li>
		<li class="pull-right "><a href="javascript:void(0)" class="button button-assertive" >交 卷</a></li>
	</ul>
</ion-view>
<style>
	.tab-nav.tabs {display:none;}
	.has-tabs { bottom:0}
</style>
<script type="text/javascript">
	// $(".exam-single-box").click(function(){
		
	// });
</script>
