<ion-view title="英语测试记录" ng-app="">
	<ion-content scroll="true" scrollbar-y="false" has-bouncing="true">
		  
		  <div class="list">

			  <label class="item item-input item-select">
			    <div class="input-label">
			      日期筛选
			    </div>
			    <select>
			      <option selected>最近一周</option>
			      <option>最近一月</option>
			      <option>最近三月</option>
			      <option>最近一年</option>
			      <option>全部</option>
			    </select>
			  </label>

			</div>

		  <div class="exam-box card">

		  	<ul class="inline-block-ul top-ul">
		  		<li class="title"> <i class="icon-pencil"></i> 随堂测试 </li>
		  	</ul>
		  	<ul class="wz-list">
		  		<li class="orange-color">
		  			<i class=" icon-play"></i>2014-11-10 三角形面积计算
					<div class="do-area"><input class="button button-energized button-small" type="button" value="测试"></div>
		  		</li>
		  		<li>
		  			<i class=" icon-play"></i>2014-11-10 三角形面积计算
					<div class="do-area"><input class="button button-light button-small" type="button" value="查看"></div>
		  		</li>
		  		<li >
		  			<i class=" icon-play"></i>2014-11-10 三角形面积计算
					<div class="do-area"><input class="button button-light button-small" type="button" value="查看"></div>
		  		</li>
		  		<li>
		  			<i class=" icon-play"></i>2014-11-10 三角形面积计算
					<div class="do-area"><input class="button button-light button-small" type="button" value="查看"></div>
		  		</li>
		  		<li >
		  			<i class=" icon-play"></i>2014-11-10 三角形面积计算
					<div class="do-area"><input class="button button-light button-small" type="button" value="查看"></div>
		  		</li>
		  		<li>
		  			<i class=" icon-play"></i>2014-11-10 三角形面积计算
					<div class="do-area"><input class="button button-light button-small" type="button" value="查看"></div>
		  		</li>
		  		<li >
		  			<i class=" icon-play"></i>2014-11-10 三角形面积计算
					<div class="do-area"><input class="button button-light button-small" type="button" value="查看"></div>
		  		</li>
		  	</ul>
		  	<div class="add-more-button"><a href="javascript:void(0)">加载更多 <i class="ion-chevron-down"></i> </a></div>

		  </div>


	
	</ion-content>
</ion-view>
<style>
	.tab-nav.tabs {display:none;}
	.has-tabs { bottom:0}
</style>

