<ion-view title="{{title}}">
	<ion-content scroll="true" scrollbar-y="false" has-bouncing="true">
		<div class="list">

		  <a class="item" href="#/tab/exam-type-list">
		    语文
		  </a>
		  <a class="item" href="#/tab/exam-type-list">
		    数学
		  </a>
		  <a class="item" href="#/tab/exam-type-list">
		    英语
		  </a>
		  <a class="item" href="#/tab/exam-type-list">
		    地理
		  </a>
		  <a class="item" href="#/tab/exam-type-list">
		    历史
		  </a>
		
		</div>
	</ion-content>
</ion-view>
