<ion-view title="作业确认情况" ng-app="">
 

    <ion-content scroll="true" scrollbar-y="false" has-bouncing="true" style="background:white;">
      <div class="card homework-confirm">
        <div class="item item-divider">
          已确认名单（40）：
        </div>

        <ul class="inline-block-ul clearfix padding ">
          <li><span class="green-color">彭毅超</span></li>
          <li><span class="green-color">彭毅超</span></li>
          <li><span class="green-color">彭毅超</span></li>
          <li><span class="green-color">彭毅超</span></li>
          <li><span class="green-color">彭毅超</span></li>
          <li><span class="green-color">彭毅超</span></li>
          <li><span class="green-color">彭毅超</span></li>
          <li><span class="green-color">彭毅超</span></li>
          <li><span class="green-color">彭毅超</span></li>
          <li><span class="green-color">彭毅超</span></li>
          <li><span class="green-color">彭毅超</span></li>
          <li><span class="green-color">彭毅超</span></li>
          <li><span class="green-color">彭毅超</span></li>
          <li><span class="green-color">彭毅超</span></li>
          <li><span class="green-color">彭毅超</span></li>
          <li><span class="green-color">彭毅超</span></li>
          <li><span class="green-color">彭毅超</span></li>
          <li><span class="green-color">彭毅超</span></li>
          <li><span class="green-color">彭毅超</span></li>
          <li><span class="green-color">彭毅超</span></li>
          <li><span class="green-color">彭毅超</span></li>
          <li><span class="green-color">彭毅超</span></li>
          <li><span class="green-color">彭毅超</span></li>
          <li><span class="green-color">彭毅超</span></li>
          <li><span class="green-color">彭毅超</span></li>
          <li><span class="green-color">彭毅超</span></li>
          <li><span class="green-color">彭毅超</span></li>
          <li><span class="green-color">彭毅超</span></li>
          <li><span class="green-color">彭毅超</span></li>
          <li><span class="green-color">彭毅超</span></li>
        </ul>
      </div>
      <div class="card  homework-confirm">
        <div class="item item-divider">
          未确认名单（20）：
        </div>
        <ul class="inline-block-ul clearfix padding">
          <li><span class="red-color">彭毅超</span></li>
          <li><span class="red-color">彭毅超</span></li>
          <li><span class="red-color">彭毅超</span></li>
          <li><span class="red-color">彭毅超</span></li>
          <li><span class="red-color">彭毅超</span></li>
          <li><span class="red-color">彭毅超</span></li>
          <li><span class="red-color">彭毅超</span></li>
          <li><span class="red-color">彭毅超</span></li>
          <li><span class="red-color">彭毅超</span></li>
          <li><span class="red-color">彭毅超</span></li>
          <li><span class="red-color">彭毅超</span></li>
          <li><span class="red-color">彭毅超</span></li>
          <li><span class="red-color">彭毅超</span></li>
          <li><span class="red-color">彭毅超</span></li>
          <li><span class="red-color">彭毅超</span></li>
        </ul>
      </div>

    </ion-content>

</ion-view>
<style>
  .tab-nav.tabs {display:none;}
  .has-tabs { bottom:0}
</style>
