<ion-view title="1.2 数轴、相反数与绝对值_家庭作业">
	<ion-content scroll="true" scrollbar-y="false" has-bouncing="true">

		<div class="card">
		  <div class="item item-divider">
		    作业说明
		  </div>
		  <div class="item item-text-wrap">
		    	<p>如果你不做这个作业，你就等着被你爸爸妈妈打死吧。我们现在可以随时跟你爸爸妈妈联系，我动动手指头发个消息给你妈妈，晚上回去 你就是一顿死打。</p>
		  </div>
		  
		  <div class="item item-divider">
		    课前预习
		  </div>
		  <div class="item item-text-wrap">
		    	<p>把书抄几遍即可。</p>
		  </div>
		  
		  <div class="item item-divider">
		    课后复习
		  </div>
		  <div class="item item-text-wrap">
		   		<p>建议买一套英汉字典，抄几遍。</p>
		  </div>
		  
		</div>
		
	</ion-content>
</ion-view>
