<ion-view title="作业确认情况" ng-app="">
 

    <ion-content scroll="true" scrollbar-y="false" has-bouncing="true" style="background:white;">
      <label class="item item-input item-select">
        <div class="input-label">
          本周
        </div>
        <select>
          <option>上周</option>
          <option selected>本周</option>
        </select>
      </label>

      <div class="list">
        <a href="#/tab/homework-confirm-more" class="item item-icon-left item-icon-right"  >
            <i class="icon round-font-ico positive-bg" style="margin-top:17px;">一</i>
            <h2 class="blue-color">有理数的计算公式</h2>
            <p class="gray-color small-font">已确认：<span class="green-color">40</span>　未确认：<span class="red-color">10</span></p>
        </a>
        <a href="#/tab/homework-confirm-more" class="item item-icon-left item-icon-right">
            <i class="icon round-font-ico positive-bg" style="margin-top:17px;">五</i>
            <h2 class="blue-color">三角形的长宽高</h2>
            <p  class="gray-color small-font">已确认：<span class="green-color">40</span>　未确认：<span class="red-color">10</span></p>
        </a>
        <a href="#/tab/homework-confirm-more" class="item item-icon-left item-icon-right">
            <i class="icon round-font-ico positive-bg" style="margin-top:17px;">四</i>
            <h2 class="blue-color">三角形的长宽高</h2>
            <p  class="gray-color small-font">已确认：<span class="green-color">40</span>　未确认：<span class="red-color">10</span></p>
        </a>
        <a href="#/tab/homework-confirm-more" class="item item-icon-left item-icon-right">
            <i class="icon round-font-ico positive-bg" style="margin-top:17px;">三</i>
            <h2 class="blue-color">三角形的长宽高</h2>
            <p  class="gray-color small-font">已确认：<span class="green-color">40</span>　未确认：<span class="red-color">10</span></p>
        </a>
        <a href="#/tab/homework-confirm-more" class="item item-icon-left item-icon-right">
            <i class="icon round-font-ico positive-bg" style="margin-top:17px;">二</i>
            <h2 class="blue-color">三角形的长宽高</h2>
            <p  class="gray-color small-font">已确认：<span class="green-color">40</span>　未确认：<span class="red-color">10</span></p>
        </a>
      </div>

    </ion-content>

</ion-view>
<style>
  .tab-nav.tabs {display:none;}
  .has-tabs { bottom:0}
</style>
