<ion-view title="家校互动">
<ion-content >
	<div class="list inline-block-ico clearfix">
		 <!--ng-click="toMenu(m.state)"-->
		 <div class="item item-divider">
		    教学工具
		 </div>
		 <a class="item ico" href="#/tab/dn-bank">
		 	<i class="index-ico"></i>
		 	<span class="title">德能银行</span>
		   <span class="badge badge-assertive"></span>
		 </a>
		 <a class="item ico" href="#/tab/homework">
		 	<i class="index-ico"></i><span class="title">家庭作业</span>
		 	<span class="badge badge-assertive"></span>
		 </a>
		 <a class="item ico" href="#/tab/safe-to-school">
		 	<i class="index-ico"></i><span class="title">平安到校</span>
		 	<span class="badge badge-assertive"></span>
		 </a>
		 <a class="item ico" href="#/tab/weibo">
		 	<i class="index-ico"></i><span class="title">班级空间</span>
		 	<span class="badge badge-assertive"></span>
		 </a>
		 <a class="item ico" href="#/tab/publish-homework">
		 	<i class="index-ico"></i><span class="title">作业发布</span>
		 	<span class="badge badge-assertive"></span>
		 </a>
		 <a class="item ico" href="#/tab/find">
		 	<i class="index-ico"></i><span class="title">发现页面</span>
		 	<span class="badge badge-assertive"></span>
		 </a>
		 <!--  <a class="item ico" href="#/tab/dd">
		  	<i class="index-ico"></i><span class="title">学生点到</span>
		 	<span class="badge badge-assertive"></span>
		 </a>
		  <a class="item ico" href="#/tab/gg">
		  	<i class="index-ico"></i><span class="title">成绩单</span>
		 	<span class="badge badge-assertive"></span>
		 </a>
		 <a class="item ico" href="#/tab/homework">
		 	<i class="index-ico"></i><span class="title">家庭作业</span>
		 	<span class="badge badge-assertive"></span>
		 </a>
		 <a class="item ico" href="#/tab/hh">
		 	<i class="index-ico"></i><span class="title">班级互动</span>
		 	<span class="badge badge-assertive"></span>
		 </a>
		 <a class="item ico" href="#/tab/homework">
		 	<i class="index-ico"></i><span class="title">班级论坛</span>
		 	<span class="badge badge-assertive"></span>
		 </a>
		 <a class="item ico" href="#/tab/exam">
		 	<i class="index-ico"></i><span class="title">考试中心</span>
		 	<span class="badge badge-assertive"></span>
		 </a>
		 <a class="item ico" href="#/tab/cellect">
		 	<i class="index-ico"></i><span class="title">收藏</span>
		 	<span class="badge badge-assertive"></span>
		 </a>
		 <a class="item ico" href="#/tab/register">
		 	<i class="index-ico"></i><span class="title">注册</span>
		 	<span class="badge badge-assertive"></span>
		 </a>
		 <a class="item ico" href="#/tab/syllabus">
		 	<i class="index-ico"></i><span class="title">课程表</span>
		 	<span class="badge badge-assertive"></span>
		 </a>
		 <a class="item ico" href="#/tab/homework-confirm">
		 	<i class="index-ico"></i><span class="title">作业确认</span>
		 	<span class="badge badge-assertive"></span>
		 </a>
		 <a class="item ico" href="#/tab/user-register-get-password">
		 	<i class="index-ico"></i><span class="title">忘记密码</span>
		 	<span class="badge badge-assertive"></span>
		 </a>
		 
		 
 -->
		 <!-- <a class="item ico" href="javascript:void(0)" ng-click="myPhoto()">
		 	<i class="index-ico"></i><span class="title">我的相册</span>
		 	<span class="badge badge-assertive"></span>
		 </a> -->
		<!--  <a class="item ico" href="#/tab/address-list">
		 	<i class="index-ico"></i><span class="title">通讯录</span>
		 	<span class="badge badge-assertive"></span>
		 </a>

		 <a class="item ico" href="#/tab/photo-select">
		 	<i class="index-ico"></i><span class="title">照片选择</span>
		 	<span class="badge badge-assertive"></span>
		 </a>

		 <a class="item ico" href="#/tab/pm-detail-pic-big">
		 	<i class="index-ico"></i><span class="title">照片放大</span>
		 	<span class="badge badge-assertive"></span>
		 </a> -->
		 
	</div>
	<div class="list" style="padding-bottom: 40px;display:none;">
		  <div class="item item-divider">
		    通知公告
		 </div>
		  <a class="item" href="#/tab/ytz">
		   云通知
		   <span class="badge badge-assertive">2</span>
		 </a>
		 <a class="item" href="#/tab/xzxx">
		   校长信箱
		   <!--<span class="badge badge-assertive">0</span>-->
		 </a>
		  <a class="item" href="#/tab/ff">
		    班级通知
		    <span class="badge badge-assertive">3</span>
		 </a>
		 <a class="item" href="#/tab/ee">
		    学校通知
		    <span class="badge badge-assertive">5</span>
		 </a>
		 <a class="item" href="#/tab/apptj">
		 	<i class="index-ico ico6"></i>
		    APP推荐
		    <span class="badge badge-assertive">1</span>
		 </a>
		 
	</div>
</ion-content>
</ion-view>