<ion-view title="家庭作业">
	<ion-content scroll="true" scrollbar-y="false" has-bouncing="true">
		<div class="list">
			<a class="item item-icon-left item-icon-right"  href="#/tab/homework-nr">
			    <i class="icon round-font-ico red-bg" style="top:10px">数</i>
			    求圆柱体的表面积
			    <p class="gray-color small-font" style="margin:0">科目：数学　时间：2015-10-12</p>
			    <i class="icon ion-chevron-right gray-color"></i>
			  </a>
			  <a class="item item-icon-left item-icon-right"  href="#/tab/homework-nr">
			    <i class="icon round-font-ico blue-bg" style="top:10px">数</i>
			    求圆柱体的表面积
			    <p class="gray-color small-font" style="margin:0">科目：数学　时间：2015-10-12</p>
			    <i class="icon ion-chevron-right gray-color"></i>
			  </a>
			  <a class="item item-icon-left item-icon-right"  href="#/tab/homework-nr">
			    <i class="icon round-font-ico red-bg" style="top:10px">数</i>
			    求圆柱体的表面积
			    <p class="gray-color small-font" style="margin:0">科目：数学　时间：2015-10-12</p>
			    <i class="icon ion-chevron-right gray-color"></i>
			  </a>
			  <a class="item item-icon-left item-icon-right"  href="#/tab/homework-nr">
			    <i class="icon round-font-ico green-bg" style="top:10px">数</i>
			    求圆柱体的表面积
			    <p class="gray-color small-font" style="margin:0">科目：数学　时间：2015-10-12</p>
			    <i class="icon ion-chevron-right gray-color"></i>
			  </a>
			  <a class="item item-icon-left item-icon-right"  href="#/tab/homework-nr">
			    <i class="icon round-font-ico red-bg" style="top:10px">数</i>
			    求圆柱体的表面积
			    <p class="gray-color small-font" style="margin:0">科目：数学　时间：2015-10-12</p>
			    <i class="icon ion-chevron-right gray-color"></i>
			  </a>
		</div>
	</ion-content>
</ion-view>
