<ion-view title="家校互动">
<ion-content class="padding">
	<div class="list">
		 <!--ng-click="toMenu(m.state)"-->
    	 <a class="item" ng-repeat= "m in menus" href="#/tab/dn-bank"">
		    {{m.name}}
		 </a>
	</div>
	<div class=" index-button-list">
		<div class="row ">
			<div class="col col-33 button-round"><a href="javascript:void(0)"><img src="img/button-1.svg"></a><span>成绩单</span></div>
			<div class="col col-33 button-round"><a href="javascript:void(0)"><img src="img/button-2.svg"></a><span>德能银行</span></div>
			<div class="col col-33 button-round"><a href="javascript:void(0)"><img src="img/button-3.svg"></a><span>课程表</span></div>
		</div>
		<div class="row ">
			<div class="col col-33 button-round"><a href="javascript:void(0)"><img src="img/button-4.svg"></a><span>家庭作业</span></div>
			<div class="col col-33 button-round"><a href="javascript:void(0)"><img src="img/button-5.svg"></a><span>通知公告</span></div>
			<div class="col col-33 button-round"><a href="javascript:void(0)"><img src="img/button-6.svg"></a><span>平安到校</span></div>
		</div>
		<div class="row ">
			<div class="col col-33 button-round"><a href="javascript:void(0)"><img src="img/button-8.svg"></a><span>校长信箱</span></div>
			<div class="col col-33 button-round"><a href="javascript:void(0)"><img src="img/button-9.svg"></a><span>修改密码</span></div>
		</div>
	</div>
<ion-content>
</ion-view>