<ion-view title="修改密码" >

<ion-content scroll="true" scrollbar-y="false" has-bouncing="true" class="padding">
	  
	  <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="请输入旧密码">
        </label>
      </div>
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="请输入新密码">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="请再次输入新密码">
        </label>
      </div>
		<button class="button button-block button-positive" ng-click="signIn(user)">
		  修改 
		</button >

</ion-content>
</ion-view>