<ion-view view-title="图片和视频">
  <ion-nav-buttons side="right">
    <button class="button button-balanced">发送</button>
  </ion-nav-buttons>

  <ion-content scroll="true" scrollbar-y="false" has-bouncing="true">
    <ul class="photo-select-list clearfix">
      <li class="photograph-button">
        <a href="#">
          <i class="icon-camera"></i>
          <span class="camera-name">拍摄照片</span>
        </a>
      </li>
    </ul>
  </ion-content>
</ion-view>
<style>
  .tabs {
    display: none;
  }
  .has-tabs {
    bottom: 0;
  }
</style>