<ion-view view-title="照片放大">
  <ion-nav-buttons side="right">
    <button class="button button-balanced ">确定</button>
  </ion-nav-buttons>

  <ion-content scroll="true" scrollbar-y="false" has-bouncing="true">
  	<!-- <canvas id="canvas1" width="200" height="200" data-src-b="img/userface1.jpg" data-src-s="img/userface1.jpg"> </canvas>
    <canvas id="canvas2" width="200" height="200" data-src-b="img/userface2.jpg" data-src-s="img/userface2.jpg"> </canvas>
    <canvas id="canvas3" width="200" height="200" data-src-b="img/userface1.jpg" data-src-s="img/userface1.jpg"> </canvas>
    <canvas id="canvas4" width="200" height="200" data-src-b="img/userface1.jpg" data-src-s="img/userface1.jpg"> </canvas> -->

    <!-- loading效果 -->
    



  </ion-content>
</ion-view>
<style>
  .tabs {
    display: none;
  }
  .has-tabs {
    bottom: 0;
  }
</style>
<div class="swipes-down-box active">
    <ul class="send-photo-list clearfix">
    <li class="complete"><a href="javascript:void(0)" class="photo_loading"><img src="img/userface2.jpg"></a><div class="loading-bar"></div></li>
    <li><a href="javascript:void(0)" class="photo_loading"><img src="img/userface2.jpg"></a><div class="loading-bar"></div></li>
    <li><a href="javascript:void(0)" class="photo_loading"><img src="img/userface2.jpg"></a><div class="loading-bar"></div></li>
    <li><a href="javascript:void(0)" class="photo_loading"><img src="img/userface2.jpg"></a><div class="loading-bar"></div></li>
    <li><a href="javascript:void(0)" class="photo_loading"><img src="img/userface2.jpg"></a><div class="loading-bar"></div></li>
    <li><a href="javascript:void(0)" class="photo_loading"><img src="img/userface2.jpg"></a><div class="loading-bar"></div></li>
    <li><a href="javascript:void(0)" class="photo_loading"><img src="img/userface2.jpg"></a><div class="loading-bar"></div></li>
    </ul>
    <a href="javascript:void(0)" class="button button-small button-calm button-swipes-button">
      <i class="ion-arrow-up-b"></i>
      <i class="ion-arrow-down-b"></i>
     
      </a>
</div>
