
	<ion-content class="padding" scroll="true" scrollbar-y="false" has-bouncing="true" style="background:#ebebeb; ">
			<div class="message-box-list">
				
				<!--其他人的消息-->
				<div class="messagebox other clearfix">
					<div class="user-photo-box">
						<span class="userface narmal"><img src="img/userface2.jpg"></span>
					</div>
					<div class="nr">
						<i class="ion-arrow-left-b left"></i>
						<p>我是狮子家的变态王子</p>
					</div>
				</div>
				
				<!--我的消息-->
				<div class="messagebox my  clearfix">
					<div class="user-photo-box">
						<span class="userface narmal"><img src="img/userface1.jpg"></span>
					</div>
					<div class="nr">
						<i class="ion-arrow-right-b right"></i>
						<p>....，不认识</p>
					</div>
				</div>
				
				

			</div>
		
		
	
	</ion-content>
	<div class="fixed-send-box">
		  <div class="list">
		        <div class="item item-input-inset">
		          <label class="item-input-wrapper send-message-input">
		            <input type="text" placeholder="">
		          </label>
		          <button class="button button-balanced button-small" style="padding:2px 12px 1px;">
		            发 送
		          </button>
		        </div>
		  </div>
		</div>

	<!--<ul >
		<li>内容</li>
		<li>内容</li>
		<li>内容</li>
		<li>内容</li>
		<li>内容</li>
		<li>内容</li>
		<li>内容</li>
		<li>内容</li>
		<li>内容</li>
		<li>内容</li>
		<li>内容</li>
		<li>内容</li>
		<li>内容</li>
		<li>内容</li>
		<li>内容</li>
		<li>内容</li>
		<li>内容</li>
		<li>内容</li>
		<li>内容</li>
		<li>内容</li>
	</ul>-->
		

