<ion-view title="平安到校">
	<ion-content scroll="true" scrollbar-y="false" has-bouncing="true">
		<div class="list list-padding-left-plus">
			  <div class="item item-divider gray small">
		        2015-06-05
		      </div>
			  <a class="item item-icon-left item-icon-right"  href="#/tab/homework-nr">
			    <i class="icon round-font-ico green-bg" >到</i>
			    <span class="white-bg"></span>
			    09:00 到校
			  </a>
			  <a class="item item-icon-left item-icon-right"  href="#/tab/homework-nr">
			    <i class="icon round-font-ico orange-bg" >离</i>
			    <span class='white-bg'></span>
			    09:00 离校
			  </a>
			   <a class="item item-icon-left item-icon-right"  href="#/tab/homework-nr">
			    <i class="icon round-font-ico green-bg" >到</i>
			    <span class="white-bg"></span>
			    09:00 到校
			  </a>
			  <a class="item item-icon-left item-icon-right"  href="#/tab/homework-nr">
			    <i class="icon round-font-ico orange-bg" >离</i>
			    <span class='white-bg'></span>
			    09:00 离校
			  </a>

			  <div class="item item-divider gray small">
		        2015-06-05
		      </div>
			  <a class="item item-icon-left item-icon-right"  href="#/tab/homework-nr">
			    <i class="icon round-font-ico green-bg" >到</i>
			    <span class="white-bg"></span>
			    09:00 到校
			  </a>
			  <a class="item item-icon-left item-icon-right"  href="#/tab/homework-nr">
			    <i class="icon round-font-ico orange-bg" >离</i>
			    <span class='white-bg'></span>
			    09:00 离校
			  </a>
			   <a class="item item-icon-left item-icon-right"  href="#/tab/homework-nr">
			    <i class="icon round-font-ico green-bg" >到</i>
			    <span class="white-bg"></span>
			    09:00 到校
			  </a>
			  <a class="item item-icon-left item-icon-right"  href="#/tab/homework-nr">
			    <i class="icon round-font-ico orange-bg" >离</i>
			    <span class='white-bg'></span>
			    09:00 离校
			  </a>

			  <div class="item item-divider gray small">
		        2015-06-05
		      </div>
			  <a class="item item-icon-left item-icon-right"  href="#/tab/homework-nr">
			    <i class="icon round-font-ico green-bg" >到</i>
			    <span class="white-bg"></span>
			    09:00 到校
			  </a>
			  <a class="item item-icon-left item-icon-right"  href="#/tab/homework-nr">
			    <i class="icon round-font-ico green-bg" >离</i>
			    <span class="white-bg"></span>
			    09:00 离校
			  </a>
			   <a class="item item-icon-left item-icon-right" href="#/tab/homework-nr">
			    <i class="icon round-font-ico green-bg" >到</i>
			    <span class="white-bg"></span>
			    09:00 到校
			  </a>
			  <a class="item item-icon-left item-icon-right"  href="#/tab/homework-nr">
			    <i class="icon round-font-ico orange-bg" >离</i>
			    <span class='white-bg'></span>
			    09:00 离校
			  </a>
		</div>
	</ion-content>
</ion-view>
