<ion-view title="班级说说">
	<ion-content scroll="true" scrollbar-y="false" has-bouncing="true" >
	
		<div class="list card card-nomargin weibo-single-box">

		  <div class="item item-avatar ">
		    <img src="img/userface1.jpg">
		    <h2>3班的王小明同学</h2>
		    <p class="gray">12-30 13:33</p>
		  </div>
		
		  <div class="item item-body">
		  	<div>
		      我的热情，好像一把火，燃烧了整个沙漠哦。☀️剪了我，也要闪躲，就像一把无情的🔥。我的热情，好像一把火，燃烧了整个沙漠哦。☀️剪了我，也要闪躲，就像一把无情的🔥。我的热情，好像一把火，燃烧了整个沙漠哦。☀️剪了我，也要闪躲，就像一把无情的🔥。我的热情，好像一把火，燃烧了整个沙漠哦。☀️剪了我，也要闪躲，就像一把无情的🔥。
		    </div>
		    <ul class="row row-inline img-list">
		    		<li><img class="full-image" src="img/userface2.jpg"></li>
		    		<li><img class="full-image" src="img/userface2.jpg"></li>
		    		<li><img class="full-image" src="img/userface2.jpg"></li>
		    		<li><img class="full-image" src="img/userface2.jpg"></li>
		    </ul>
		  </div>
		
		</div>
		
		<div class="list pj-box">
			<h4 class="title-pj">评价 38</h4>
			
		    <a class="item item-avatar" href="#">
		      <img src="img/22222.png">
		      <h2>Venkman</h2>
		      <p class="date">12-11 12:00</p>
		      <div class="nr">我评价怎么了，我喜欢评价怎么了嘛，我就是要评价，你怎么呢，😄💣</div>
		    </a>
		    <a class="item item-avatar" href="#">
		      <img src="img/22222.png">
		      <h2>Venkman</h2>
		      <p class="date">12-11 12:00</p>
		      <div class="nr">我评价怎么了，我喜欢评价怎么了嘛，我就是要评价，你怎么呢，😄💣</div>
		    </a>
		    <a class="item item-avatar" href="#">
		      <img src="img/22222.png">
		      <h2>Venkman</h2>
		      <p class="date">12-11 12:00</p>
		      <div class="nr">我评价怎么了，我喜欢评价怎么了嘛，我就是要评价，你怎么呢，😄💣</div>
		    </a>
		    <a class="item item-avatar" href="#">
		      <img src="img/22222.png">
		      <h2>Venkman</h2>
		      <p class="date">12-11 12:00</p>
		      <div class="nr">我评价怎么了，我喜欢评价怎么了嘛，我就是要评价，你怎么呢，😄💣</div>
		    </a>
		
		</div>
		
	</ion-content>
</ion-view>
<div class="fixed-bottom-box">
	<a class="button button-full button-calm" href="#/tab/weibo-sendmessage">
      <i class="icon ion-chatbox"></i>
      我要评价
    </a>
</div>
<!--下面的样式删掉，临时用的-->
<style>
	.tabs {
		display: none;
	}
</style>