<ion-view title="相册列表">
	<ion-nav-buttons side="right">
	  <a class="button button-icon " href="#/tab/space-photo-book">
	  	<i class="ion-plus-circled"></i>
	  </a>
	</ion-nav-buttons>
	<ion-content scroll="true" scrollbar-y="false" has-bouncing="true" >

		
		<div class="list photo-list">

		    
		    <a class="item item-thumbnail-left" href="#/tab/weibo-photo-detail">
		      <img src="img/userface1.jpg">
		      <h2>华山论剑一日游</h2>
		      <p>231张</p>
		    </a>

		    

		    <a class="item item-thumbnail-left" href="#/tab/weibo-photo-detail">
		      <img src="img/userface2.jpg">
		      <h2>华山论剑一日游</h2>
		      <p>112张</p>
		    </a>

		    <a class="item item-thumbnail-left" href="#/tab/weibo-photo-detail">
		      <img src="img/userface1.jpg">
		      <h2>华山论剑一日游</h2>
		      <p>112张</p>
		    </a>

		    <a class="item item-thumbnail-left" href="#/tab/weibo-photo-detail">
		      <img src="img/userface2.jpg">
		      <h2>华山论剑一日游</h2>
		      <p>112张</p>
		    </a>


		</div>
		
	</ion-content>
</ion-view>
<style>
	.tab-nav.tabs {display:none;}
	.has-tabs { bottom:0}
</style>
