<ion-view title="班级说说">
	<ion-content scroll="true" scrollbar-y="false" has-bouncing="true">
		
		<div class="top-photo-show-area static default">
			<a class="change-style-button"></a>
			<ul class="inline-block-ul profile-ul">
				<li class="profile-photo-li"><div class="profile-photo"><img src="img/userface1.jpg"></div></li>
				<li class="profile-name">
					<h1>不一样的烟火</h1>
					<p>11001101</p>
				</li>
			</ul>
		</div>
		<ul class="inline-block-ul info-bar-link">
			<li><a href="#"><span class="name">说说</span><span class="number">12</span></a></li>
			<li><a href="#"><span class="name">日志</span><span class="number">12</span></a></li>
			<li><a href="#/tab/weibo-photo-list"><span class="name">照片</span><span class="number">12</span></a></li>
			<li><a href="#/tab/space-caller"><span class="name">访客</span><span class="number">12</span></a></li>
		</ul>

		<div class="list card weibo-single-box">

		  <div class="item item-avatar ">
		  <a href="#" class="list-a"><img src="img/userface1.jpg"></a>
		    <h2><a href="#/tab/my-area" class="a-unstyled">3班的王小明同学</a></h2>
		    <p class="gray">12-30 13:33</p>
		  </div>
		
		  <div class="item item-body">
		  	<p>
		      This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
		      the content is from a card-body consisting of an image and paragraph text. The footer
		      consists of tabs, icons aligned left, within the card-footer.
		    </p>
		    <ul class="row row-inline img-list">
		    		<li><img class="full-image" src="img/22222.png"></li>
		    		<li><img class="full-image" src="img/22222.png"></li>
		    </ul>
		  </div>
		
		  <div class="item tabs tabs-secondary tabs-icon-left">
		    <a class="tab-item" href="#/tab/weibo-detail">
		      <i class="icon ion-chatbox"></i>
		      评价（10）
		    </a>
		  </div>
		
		</div>
		
		<div class="list card weibo-single-box">

		  <div class="item item-avatar ">
		    <img src="img/userface1.jpg">
		    <h2>3班的王小明同学</h2>
		    <p class="gray">12-30 13:33</p>
		  </div>
		
		  <div class="item item-body">
		  	<p>
		      This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
		      the content is from a card-body consisting of an image and paragraph text. The footer
		      consists of tabs, icons aligned left, within the card-footer.
		    </p>
		    <ul class="row row-inline img-list">
		    		<li><img class="full-image" src="img/22222.png"></li>
		    		<li><img class="full-image" src="img/22222.png"></li>
		    </ul>
		  </div>
		
		  <div class="item tabs tabs-secondary tabs-icon-left">
		    <a class="tab-item" href="#/tab/weibo-detail">
		      <i class="icon ion-chatbox"></i>
		      评价（10）
		    </a>
		  </div>
		
		</div>
		
	</ion-content>
</ion-view>
