<ion-view title="访客">
	<ion-content scroll="true" scrollbar-y="false" has-bouncing="true">
		

		<ul class="inline-block-ul info-bar-link">
			<li>总浏览量：1000</li>
			<li>今日浏览量：10</li>
		</ul>

		<div class="list">

		    <a class="item item-avatar" href="#">
		      <img src="img/userface1.jpg">
		      <h2>Venkman</h2>
		      <p>2015-02-15 12:45 访问空间</p>
		    </a>

		    <a class="item item-avatar" href="#">
		      <img src="img/userface1.jpg">
		      <h2>Venkman</h2>
		      <p>2015-02-14 2:40 访问空间</p>
		    </a>

		    <a class="item item-avatar" href="#">
		      <img src="img/userface1.jpg">
		      <h2>Venkman</h2>
		      <p>2015-02-13 15:35 访问空间</p>
		    </a>

		    <a class="item item-avatar" href="#">
		      <img src="img/userface1.jpg">
		      <h2>Venkman</h2>
		      <p>2015-02-11 11:41 访问空间</p>
		    </a>

		</div>
		
	</ion-content>
</ion-view>
