<ion-view title="2014-11-11">
	<ion-nav-buttons side="right">
	  <button class="button button-icon " ng-click="addContactPanelShow()">
	   	确定
	  </button>
	</ion-nav-buttons>
	<ion-content scroll="true" scrollbar-y="false" has-bouncing="true">
				<h1 class="user-info-area" style="margin:10px 0;">
				确认缺勤的学生名单
					<button class="button button-energized btn-sm position-top-right" style="top:-5px; right:5px;">
				  		<i class="icon ion-email"></i> 
						     <span>通知全部</span>
					</button>
				</h1>
				  	
					
			<div class="list">

			  <div class="item item-button-right">
			    <a href="javascript:void(0)" class="black-color">郭涛<span class="focus-ball red-bg">请假</span></a>
			    <button class="button button-light">
			     <span class="button-wb">不通知</span>
			    </button>
			  </div>
			  
			  <div class="item item-button-right">
			    <a href="javascript:void(0)" class="black-color">郭涛<span class="focus-ball orange-bg">迟到</span></a>
			    <button class="button button-balanced">
			      
			      <span class="button-wb">通知</span>
			    </button>
			  </div>
			 
			</div>
			
	</ion-content>
</ion-view>
