<ion-view title="2014-11-11">
	<ion-nav-buttons side="right">
	  <button class="button button-icon " ng-click="addContactPanelShow()">
	   	确定
	  </button>
	</ion-nav-buttons>
	<ion-content scroll="true" scrollbar-y="false" has-bouncing="true">
			<h1 class="user-info-area" >请选择未到的学生</h1>
			<div class="row row-inline dd-font-overflow">
			  <div class="col col-25">
			  		<a href="javascript:void(0)" class="button  button-block button-light button-dd font-overflow" ng-click="show()">
			  			一只帥猿郭涛
			  			<ul class="dd-status">
				  			<li><span class="later show"></span></li>
				  			<li><span class="loser"></span></li>
				  		</ul>
			  		</a>
			  </div>
			  <div class="col col-25">
			  		<a href="javascript:void(0)" class="button  button-block button-light button-dd" ng-click="show()">
			  			郭涛
			  			<ul class="dd-status">
				  			<li><span class="later "></span></li>
				  			<li><span class="loser show"></span></li>
				  		</ul>
			  		</a>
			  </div>
			  <div class="col col-25">
			  		<a href="javascript:void(0)" class="button  button-block button-light button-dd">郭涛</a>
			  </div>
			  <div class="col col-25">
			  		<a href="javascript:void(0)" class="button  button-block button-light button-dd">郭涛</a>
			  </div>

			  <div class="col col-25">
			  		<a href="javascript:void(0)" class="button button-block button-light button-dd">郭涛</a>
			  </div>
			 <div class="col col-25">
			  		<a href="javascript:void(0)" class="button button-block button-light button-dd">郭涛</a>
			  </div>
			  <div class="col col-25">
			  		<a href="javascript:void(0)" class="button button-block button-light button-dd">郭涛</a>
			  </div>
			  <div class="col col-25">
			  		<a href="javascript:void(0)" class="button button-block button-light button-dd">郭涛</a>
			  </div>

			  <div class="col col-25">
			  		<a href="javascript:void(0)" class="button button-block button-light button-dd">郭涛</a>
			  </div>
			 <div class="col col-25">
			  		<a href="javascript:void(0)" class="button button-block button-light button-dd">郭涛</a>
			  </div>
			  <div class="col">
			  		<a href="javascript:void(0)" class="button button-block button-light button-dd">郭涛</a>
			  </div>
			  <div class="col">
			  		<a href="javascript:void(0)" class="button button-block button-light button-dd">郭涛</a>
			  </div>

			  <div class="col">
			  		<a href="javascript:void(0)" class="button button-block button-light button-dd">郭涛</a>
			  </div>
			  <div class="col">
			  		<a href="javascript:void(0)" class="button button-block button-light button-dd">郭涛</a>
			  </div>
			  <div class="col">
			  		<a href="javascript:void(0)" class="button button-block button-light button-dd">郭涛</a>
			  </div>
			  <div class="col">
			  		<a href="javascript:void(0)" class="button button-block button-light button-dd">郭涛</a>
			  </div>

			  <div class="col">
			  		<a href="javascript:void(0)" class="button button-block button-light button-dd">郭涛</a>
			  </div>
			  <div class="col">
			  		<a href="javascript:void(0)" class="button button-block button-light button-dd">郭涛</a>
			  </div>
			  <div class="col">
			  		<a href="javascript:void(0)" class="button button-block button-light button-dd">郭涛</a>
			  </div>
			  <div class="col">
			  		<a href="javascript:void(0)" class="button button-block button-light button-dd">郭涛</a>
			  </div>

			  <div class="col">
			  		<a href="javascript:void(0)" class="button button-block button-light button-dd">郭涛</a>
			  </div>
			  <div class="col">
			  		<a href="javascript:void(0)" class="button button-block button-light button-dd">郭涛</a>
			  </div>
			  <div class="col">
			  		<a href="javascript:void(0)" class="button button-block button-light button-dd">郭涛</a>
			  </div>
			  <div class="col">
			  		<a href="javascript:void(0)" class="button button-block button-light button-dd">郭涛</a>
			  </div>

			  <div class="col">
			  		<a href="javascript:void(0)" class="button button-block button-light button-dd">郭涛</a>
			  </div>
			  <div class="col">
			  		<a href="javascript:void(0)" class="button button-block button-light button-dd">郭涛</a>
			  </div>
			  <div class="col">
			  		<a href="javascript:void(0)" class="button button-block button-light button-dd">郭涛</a>
			  </div>
			  <div class="col">
			  		<a href="javascript:void(0)" class="button button-block button-light button-dd">郭涛</a>
			  </div>
			</div>

	</ion-content>
</ion-view>
