 <ion-tabs class="tabs-icon-top tabs-positive" ng-class="{tabshide:hidetabs}" >
    <ion-tab title="私信" icon="tab-ico ico1" href="#/tab/pm">
      <ion-nav-view name="pm-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="联系人" icon="tab-ico ico2" href="#/tab/contact">
      <ion-nav-view name="contact-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="家校互动" icon="tab-ico ico3"  href="#/tab/homeschool">
      <ion-nav-view name="homeschool-tab"></ion-nav-view>
    </ion-tab>
	
	<ion-tab title="我" icon="tab-ico ico4" href="#/tab/myarea">
      <ion-nav-view name="my-tab"></ion-nav-view>
    </ion-tab>
    
  </ion-tabs>