<ion-view title="课程表" ng-app="">
    <ion-nav-buttons side="right">
      <a class="button button-icon " href="#/tab/story-list">
        更新列表
      </a>
    </ion-nav-buttons>

    <ion-content scroll="true" scrollbar-y="false" has-bouncing="true" style="background:white;">
      <div class="bar bar-header">
        <div class="button-bar">
          <a class="button"><i class="ion-chevron-left"></i></a>
          <a class="button">本周</a>
          <a class="button"><i class="ion-chevron-right"></i></a>
        </div>
      </div>
      <table class="table table-kcb" style="position:relative; top:43px;">

        <tr class="title-header">
          <td class="title-bg-color"><span class="font-small ">3月</span></td>
          <td class="title-bg-color">周一</td>
          <td class="title-bg-color">周二</td>
          <td class="title-bg-color">周三</td>
          <td class="title-bg-color">周四</td>
          <td class="title-bg-color">周五</td>
          <td class="title-bg-color">周六</td>
          <td class="title-bg-color">周日</td>
        </tr>
        <tr>
          <td class="title-bg-color">1</td>
          <td></td>
          <td><A class="kc-block" href="#/tab/user-syllabus-more-page">3</A></td>
          <td></td>
          <td><A class="kc-block" href="#/tab/user-syllabus-more-page">5</A></td>
          <td><A class="kc-block" href="#/tab/user-syllabus-more-page">2</A></td>
          <td></td>
          <td><A class="kc-block" href="#/tab/user-syllabus-more-page">1</A></td>
        </tr>
        <tr>
          <td class="title-bg-color even">2</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="title-bg-color">3</td>
          <td><A class="kc-block" href="#/tab/user-syllabus-more-page">5</A></td>
          <td><A class="kc-block" href="#/tab/user-syllabus-more-page">3</A></td>
          <td><A class="kc-block" href="#/tab/user-syllabus-more-page">5</A></td>
          <td></td>
          <td><A class="kc-block" href="#/tab/user-syllabus-more-page">2</A></td>
          <td></td>
          <td><A class="kc-block" href="#/tab/user-syllabus-more-page">1</A></td>
        </tr>
        <tr>
          <td class="title-bg-color even">4</td>
          <td></td>
          <td><A class="kc-block" href="#/tab/user-syllabus-more-page">3</A></td>
          <td><A class="kc-block" href="#/tab/user-syllabus-more-page">5</A></td>
          <td></td>
          <td><A class="kc-block" href="#/tab/user-syllabus-more-page">2</A></td>
          <td></td>
          <td><A class="kc-block" href="#/tab/user-syllabus-more-page">1</A></td>
        </tr>
        <tr>
          <td class="title-bg-color">5</td>
          <td><A class="kc-block" href="#/tab/user-syllabus-more-page">5</A></td>
          <td><A class="kc-block" href="#/tab/user-syllabus-more-page">3</A></td>
          <td></td>
          <td><A class="kc-block" href="#/tab/user-syllabus-more-page">5</A></td>
          <td><A class="kc-block" href="#/tab/user-syllabus-more-page">2</A></td>
          <td></td>
          <td><A class="kc-block" href="#/tab/user-syllabus-more-page">1</A></td>
        </tr>
        <tr>
          <td class="title-bg-color even">6</td>
          <td><A class="kc-block" href="#/tab/user-syllabus-more-page">5</A></td>
          <td></td>
          <td></td>
          <td></td>
          <td><A class="kc-block" href="#/tab/user-syllabus-more-page">2</A></td>
          <td></td>
          <td><A class="kc-block" href="#/tab/user-syllabus-more-page">1</A></td>
        </tr>
        <tr>
          <td class="title-bg-color">7</td>
          <td></td>
          <td></td>
          <td><A class="kc-block" href="#/tab/user-syllabus-more-page">5</A></td>
          <td></td>
          <td><A class="kc-block" href="#/tab/user-syllabus-more-page">2</A></td>
          <td></td>
          <td><A class="kc-block" href="#/tab/user-syllabus-more-page">1</A></td>
        </tr>
        <tr>
          <td class="title-bg-color even">8</td>
          <td><A class="kc-block" href="#/tab/user-syllabus-more-page">5</A></td>
          <td></td>
          <td></td>
          <td><A class="kc-block" href="#/tab/user-syllabus-more-page">5</A></td>
          <td><A class="kc-block" href="#/tab/user-syllabus-more-page">2</A></td>
          <td></td>
          <td><A class="kc-block" href="#/tab/user-syllabus-more-page">1</A></td>
        </tr>

      </table>


    </ion-content>

</ion-view>
<style>
  .tab-nav.tabs {display:none;}
  .has-tabs { bottom:0}
</style>
