<ion-view title="找回密码">
	<ion-content >
		<div class="padding">
			<ul class="inline-block-ul step-ul three">
				<li class="one arrow-right complete"><i class="number-ball">1</i> 输入用户名</li>
				<li class="two arrow-right"><i class="number-ball">2</i> 手机验证</li>
				<li class="three arrow-left"><i class="number-ball">3</i> 设置新密码</li>
			</ul>
		</div>

		<div id="step-1" >
			<div class="list list-inset">
				<label class="item item-input">
				  <input type="text" placeholder="请输入您要找回的用户名">
				  <div class="from-alert wrong">
				    <i class="ion-alert-circled"></i>  格式不正确
				  </div>
				  <div class="from-alert right">
				    <i class="ion-checkmark-circled"></i> 
				  </div>
				</label>
			</div>
			<div class="padding">
				<button id="step1_button" class="button button-block button-light">
				  下一步
				</button>
			</div>
		</div>

		<div id="step-2" style="display:none;">
			<div class="padding">
				<div class="alert-box yellow">
					<i class="icon-circle-exclamation-mark"></i>   
					请输入尾数为 <span class="red-color">0756</span> 的手机收到的验证码
				</div>
			</div>

			<div class="list list-inset row" style="width:auto; margin-top:0;">
				<div class="col  col-67">
					<label class="item item-input">
					  <input type="text" placeholder="请输入尾数为0756的手机收到的验证码">
					</label>
				</div>
				<div class="col col-33">
					<button class="button button-balanced button-full" style="margin:0;padding:0;">
					  重新获取验证码
					</button>
				</div>
			</div>
			<div class="padding">
				<button id="step2_button" class="button button-block button-light">
				  下一步
				</button>
			</div>
		</div>

		<div id="step-3" style="display:none;">

			<div class="list list-inset">
				<label class="item item-input">
				  <input type="text" placeholder="输入您的新密码">
				  <div class="from-alert wrong">
				    <i class="ion-alert-circled"></i>  格式不正确
				  </div>
				  <div class="from-alert right">
				    <i class="ion-checkmark-circled"></i> 
				  </div>
				</label>
				<label class="item item-input">
				  <input type="text" placeholder="请确认您的新密码">
				  <div class="from-alert wrong">
				    <i class="ion-alert-circled"></i>  格式不正确
				  </div>
				  <div class="from-alert right">
				    <i class="ion-checkmark-circled"></i> 
				  </div>
				</label>
			</div>
			<div class="padding">
				<button id="step3_button" class="button button-block button-light">
				  确认修改
				</button>
			</div>
		</div>

		<script type="text/javascript">

			$(function(){
				$("#step1_button").click(function(){
					$("#step-1").addClass("bounceOutLeft animated").hide();
					$("#step-2").show().addClass("bounceInRight animated");
					$(".step-ul li").eq(1).addClass("complete");
				});
				$("#step2_button").click(function(){
					$("#step-2").addClass("bounceOutLeft animated").hide();
					$("#step-3").show().addClass("bounceInRight animated");
					$(".step-ul li").eq(2).addClass("complete");
				});
			});
		</script>
	</ion-content>
</ion-view>