<ion-view title="近期更新列表" ng-app="">

    <ion-content scroll="true" scrollbar-y="false" has-bouncing="true" style="background:white;">

      <div class="list">
           <label class="item item-input item-select">
              <div class="input-label">
                资源筛选
              </div>
              <select>
                <option>PPT</option>
                <option selected>HTML</option>
                <option>Word</option>
                <option>其他</option>
              </select>
            </label>

          <a class="item item-avatar" href="#">
          <span class="list-ico-font blue-bg">PPT</span>
            <h2 class="font-overflow">Uniut 1 Can you play the guitar?n you play the guitar?</h2>
            <p class="font-overflow">
              <span class="gray date">上传日期：2015-03-4</span>
            </p>
          </a>

          <a class="item item-avatar" href="#">
          <span class="list-ico-font orange-bg">HTML</span>
            <h2 class="font-overflow">Uniut 1 Can you play the guitar?n you play the guitar?</h2>
            <p class="font-overflow">
              <span class="gray date">上传日期：2015-03-4</span>
            </p>
          </a>

          <a class="item item-avatar" href="#">
          <span class="list-ico-font green-bg">Word</span>
            <h2 class="font-overflow">Uniut 1 Can you play the guitar?n you play the guitar?</h2>
            <p class="font-overflow">
              <span class="gray date">上传日期：2015-03-4</span>
            </p>
          </a>

          <a class="item item-avatar" href="#">
          <span class="list-ico-font red-bg">其他</span>
            <h2 class="font-overflow">Uniut 1 Can you play the guitar?n you play the guitar?</h2>
            <p class="font-overflow">
              <span class="gray date">上传日期：2015-03-4</span>
            </p>
          </a>


      </div>


    </ion-content>

</ion-view>
<style>
  .tab-nav.tabs {display:none;}
  .has-tabs { bottom:0}
</style>
