<ion-view title="班级说说">
	<ion-content scroll="true" scrollbar-y="false" has-bouncing="true">
		
		<div class="top-photo-show-area static default" style="background:url(img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg)">
			
		</div>
		
		<h4 class="photo-detail-time">昨天</h4>

		<ul class="photo-detail-list inline-block-ul">
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/2730ba7ce125910e665b8e77cd5453d750042bad65681-knzBfl_fw658.gif"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/2730ba7ce125910e665b8e77cd5453d750042bad65681-knzBfl_fw658.gif"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4a166d9c4b7677ba1b92f1c94584e82b429fd41ac2d0-y8TGJn_fw658.gif"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/2730ba7ce125910e665b8e77cd5453d750042bad65681-knzBfl_fw658.gif"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4a166d9c4b7677ba1b92f1c94584e82b429fd41ac2d0-y8TGJn_fw658.gif"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
		</ul>

		<h4 class="photo-detail-time">昨天</h4>

		<ul class="photo-detail-list inline-block-ul">
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/2730ba7ce125910e665b8e77cd5453d750042bad65681-knzBfl_fw658.gif"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/2730ba7ce125910e665b8e77cd5453d750042bad65681-knzBfl_fw658.gif"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4a166d9c4b7677ba1b92f1c94584e82b429fd41ac2d0-y8TGJn_fw658.gif"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/2730ba7ce125910e665b8e77cd5453d750042bad65681-knzBfl_fw658.gif"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4a166d9c4b7677ba1b92f1c94584e82b429fd41ac2d0-y8TGJn_fw658.gif"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
		</ul>

		<h4 class="photo-detail-time">昨天</h4>

		<ul class="photo-detail-list inline-block-ul">
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/2730ba7ce125910e665b8e77cd5453d750042bad65681-knzBfl_fw658.gif"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/2730ba7ce125910e665b8e77cd5453d750042bad65681-knzBfl_fw658.gif"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4a166d9c4b7677ba1b92f1c94584e82b429fd41ac2d0-y8TGJn_fw658.gif"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/2730ba7ce125910e665b8e77cd5453d750042bad65681-knzBfl_fw658.gif"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4a166d9c4b7677ba1b92f1c94584e82b429fd41ac2d0-y8TGJn_fw658.gif"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
		</ul>

		<h4 class="photo-detail-time">昨天</h4>

		<ul class="photo-detail-list inline-block-ul">
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/2730ba7ce125910e665b8e77cd5453d750042bad65681-knzBfl_fw658.gif"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/2730ba7ce125910e665b8e77cd5453d750042bad65681-knzBfl_fw658.gif"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4a166d9c4b7677ba1b92f1c94584e82b429fd41ac2d0-y8TGJn_fw658.gif"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/2730ba7ce125910e665b8e77cd5453d750042bad65681-knzBfl_fw658.gif"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4a166d9c4b7677ba1b92f1c94584e82b429fd41ac2d0-y8TGJn_fw658.gif"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
			<li><a href="#" class="pb-standalone-dark"><img src="img/4f600349659e6df3caf4f5c7f93d3b45df1ba2c312515-3TGCkv_fw658.jpg"></a></li>
		</ul>
		
	</ion-content>
</ion-view>
